<%- include('./users/header.ejs') %>

<div class="intro-slider-container mb-0">
    <div class="intro-slider owl-carousel owl-theme owl-nav-inside owl-light" data-toggle="owl" data-owl-options='{"nav": false, "dots": false}'>
        <div class="intro-slide" style="background-image: url(/images/demos/demo-5/slider/slide-1.jpg);">
            <div class="container intro-content text-center">
                <h3 class="intro-subtitle text-white">Don’t Miss</h3>
                <h1 class="intro-title text-white">Mystery Deals</h1>
                <div class="intro-text text-white">Online Only</div>
                <a href="javascript:;" class="btn btn-primary">Discover NOW</a>
            </div>
        </div>

        <div class="intro-slide" style="background-image: url(/images/demos/demo-5/slider/slide-2.jpg);">
            <div class="container intro-content text-center">
                <h3 class="intro-subtitle text-white">Limited time only</h3>
                <h1 class="intro-title text-white">Treat your self</h1>
                <div class="intro-text text-white">Up to 50% off</div>
                <a href="javascript:;" class="btn btn-primary">Shop NOW</a>
            </div>
        </div>
    </div>

    <span class="slider-loader text-white"></span>
</div>

<div class="mb-4"></div>

<div class="container">
    <div class="heading heading-center mb-3">
        <h2 class="title">Trendy Products</h2>

        <ul class="nav nav-pills justify-content-center" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="trendy-all-link" data-toggle="tab" href="javascript:;" role="tab" aria-controls="trendy-all-tab" aria-selected="true">All</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="trendy-women-link" data-toggle="tab" href="javascript:;" role="tab" aria-controls="trendy-women-tab" aria-selected="false">Women</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="trendy-men-link" data-toggle="tab" href="javascript:;" role="tab" aria-controls="trendy-men-tab" aria-selected="false">Men</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="trendy-access-link" data-toggle="tab" href="javascript:;" role="tab" aria-controls="trendy-access-tab" aria-selected="false">Accessories</a>
            </li>
        </ul>
    </div>

    <div class="tab-content tab-content-carousel">
        <div class="tab-pane p-0 fade show active" id="trendy-all-tab" role="tabpanel" aria-labelledby="trendy-all-link">
            <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow" data-toggle="owl" 
                data-owl-options='{
                    "nav": false, 
                    "dots": true,
                    "margin": 20,
                    "loop": false,
                    "responsive": {
                        "0": {
                            "items":2
                        },
                        "480": {
                            "items":2
                        },
                        "768": {
                            "items":3
                        },
                        "992": {
                            "items":4
                        },
                        "1200": {
                            "items":4,
                            "nav": true
                        }
                    }
                }'>
                <div class="product product-2">
                    <figure class="product-media">
                        <a href="/product-details/1">
                            <img src="/images/demos/demo-5/products/product-1-1.jpg" alt="Product image" class="product-image">
                            <img src="/images/demos/demo-5/products/product-1-2.jpg" alt="Product image" class="product-image-hover">
                        </a>

                        <!-- <div class="product-action-vertical">
                            <a href="javascript:;" class="btn-product-icon btn-wishlist btn-expandable" title="Add to wishlist"><span>add to wishlist</span></a>
                        </div> -->

                        <div class="product-action product-action-transparent">
                            <a href="javascript:;" class="btn-product btn-cart"><span>add to cart</span></a>
                        </div>
                    </figure>

                    <div class="product-body">
                        <div class="product-cat">
                            <a href="javascript:;">Clothing</a>
                        </div>
                        <h3 class="product-title"><a href="/product-details/1">Vest dress</a></h3>
                        <div class="product-price">
                            $9.99
                        </div>

                        <!-- <div class="product-nav product-nav-dots">
                            <a href="javascript:;" class="active" style="background: #2d272b;"><span class="sr-only">Color name</span></a>
                            <a href="javascript:;" style="background: #8f957d;"><span class="sr-only">Color name</span></a>
                        </div> -->
                    </div>
                </div>

                <div class="product product-2">
                    <figure class="product-media">
                        <a href="/product-details/1">
                            <img src="/images/demos/demo-5/products/product-2-1.jpg" alt="Product image" class="product-image">
                            <img src="/images/demos/demo-5/products/product-2-2.jpg" alt="Product image" class="product-image-hover">
                        </a>

                        <div class="product-action-vertical">
                            <a href="javascript:;" class="btn-product-icon btn-wishlist btn-expandable" title="Add to wishlist"><span>add to wishlist</span></a>
                        </div>

                        <div class="product-action product-action-transparent">
                            <a href="javascript:;" class="btn-product btn-cart"><span>add to cart</span></a>
                        </div>
                    </figure>

                    <div class="product-body">
                        <div class="product-cat">
                            <a href="javascript:;">Clothing</a>
                        </div>
                        <h3 class="product-title"><a href="/product-details/1">Dress with a belt</a></h3>
                        <div class="product-price">
                            $29.99
                        </div>
                    </div>
                </div>

                <div class="product product-2">
                    <figure class="product-media">
                        <a href="/product-details/1">
                            <img src="/images/demos/demo-5/products/product-3-1.jpg" alt="Product image" class="product-image">
                            <img src="/images/demos/demo-5/products/product-3-2.jpg" alt="Product image" class="product-image-hover">
                        </a>

                        <div class="product-action-vertical">
                            <a href="javascript:;" class="btn-product-icon btn-wishlist btn-expandable" title="Add to wishlist"><span>add to wishlist</span></a>
                        </div>

                        <div class="product-action product-action-transparent">
                            <a href="javascript:;" class="btn-product btn-cart"><span>add to cart</span></a>
                        </div>
                    </figure>

                    <div class="product-body">
                        <div class="product-cat">
                            <a href="javascript:;">Shoes</a>
                        </div>
                        <h3 class="product-title"><a href="/product-details/1">Sandals</a></h3>
                        <div class="product-price">
                            <span class="new-price">Now $24.99</span>
                            <span class="old-price">Was $30.99</span>
                        </div>
                    </div>
                </div>

                <div class="product product-2">
                    <figure class="product-media">
                        <a href="/product-details/1">
                            <img src="/images/demos/demo-5/products/product-4-1.jpg" alt="Product image" class="product-image">
                            <img src="/images/demos/demo-5/products/product-4-2.jpg" alt="Product image" class="product-image-hover">
                        </a>

                        <div class="product-action-vertical">
                            <a href="javascript:;" class="btn-product-icon btn-wishlist btn-expandable" title="Add to wishlist"><span>add to wishlist</span></a>
                        </div>

                        <div class="product-action product-action-transparent">
                            <a href="javascript:;" class="btn-product btn-cart"><span>add to cart</span></a>
                        </div>
                    </figure>

                    <div class="product-body">
                        <div class="product-cat">
                            <a href="javascript:;">Handbags</a>
                        </div>
                        <h3 class="product-title"><a href="/product-details/1">Bucket bag</a></h3>
                        <div class="product-price">
                            $17.99
                        </div>
                    </div>
                </div>
                <div class="product product-2">
                    <figure class="product-media">
                        <a href="/product-details/1">
                            <img src="/images/demos/demo-5/products/product-1-1.jpg" alt="Product image" class="product-image">
                            <img src="/images/demos/demo-5/products/product-1-2.jpg" alt="Product image" class="product-image-hover">
                        </a>

                        <div class="product-action-vertical">
                            <a href="javascript:;" class="btn-product-icon btn-wishlist btn-expandable" title="Add to wishlist"><span>add to wishlist</span></a>
                        </div>

                        <div class="product-action product-action-transparent">
                            <a href="javascript:;" class="btn-product btn-cart"><span>add to cart</span></a>
                        </div>
                    </figure>

                    <div class="product-body">
                        <div class="product-cat">
                            <a href="javascript:;">Clothing</a>
                        </div>
                        <h3 class="product-title"><a href="/product-details/1">Vest dress</a></h3>
                        <div class="product-price">
                            $9.99
                        </div>

                        <div class="product-nav product-nav-dots">
                            <a href="javascript:;" class="active" style="background: #2d272b;"><span class="sr-only">Color name</span></a>
                            <a href="javascript:;" style="background: #8f957d;"><span class="sr-only">Color name</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane p-0 fade" id="trendy-women-tab" role="tabpanel" aria-labelledby="trendy-women-link">
            <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow" data-toggle="owl" 
                data-owl-options='{
                    "nav": false, 
                    "dots": true,
                    "margin": 20,
                    "loop": false,
                    "responsive": {
                        "0": {
                            "items":2
                        },
                        "480": {
                            "items":2
                        },
                        "768": {
                            "items":3
                        },
                        "992": {
                            "items":4
                        },
                        "1200": {
                            "items":4,
                            "nav": true
                        }
                    }
                }'>
            </div>
        </div>
        <div class="tab-pane p-0 fade" id="trendy-men-tab" role="tabpanel" aria-labelledby="trendy-men-link">
            <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow" data-toggle="owl" 
                data-owl-options='{
                    "nav": false, 
                    "dots": true,
                    "margin": 20,
                    "loop": false,
                    "responsive": {
                        "0": {
                            "items":2
                        },
                        "480": {
                            "items":2
                        },
                        "768": {
                            "items":3
                        },
                        "992": {
                            "items":4
                        },
                        "1200": {
                            "items":4,
                            "nav": true
                        }
                    }
                }'>
            </div>
        </div>
        <div class="tab-pane p-0 fade" id="trendy-access-tab" role="tabpanel" aria-labelledby="trendy-access-link">
            <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow" data-toggle="owl" 
                data-owl-options='{
                    "nav": false, 
                    "dots": true,
                    "margin": 20,
                    "loop": false,
                    "responsive": {
                        "0": {
                            "items":2
                        },
                        "480": {
                            "items":2
                        },
                        "768": {
                            "items":3
                        },
                        "992": {
                            "items":4
                        },
                        "1200": {
                            "items":4,
                            "nav": true
                        }
                    }
                }'>
            </div>
        </div>
    </div>
</div>

<div class="mb-5"></div>

<div class="video-banner video-banner-bg bg-image text-center" style="background-image: url(/images/demos/demo-5/bg-2.jpg)">
    <div class="container">
        <h3 class="video-banner-title h1 text-white"><span>New Collection</span><strong>Winter’19 <i>/</i> Spring’20</strong></h3><!-- End .video-banner-title -->
        <a href="https://www.youtube.com/watch?v=vBPgmASQ1A0" class="btn-video btn-iframe"><i class="icon-play"></i></a>
    </div>
</div>

<div class="container pt-6 new-arrivals">
    <div class="heading heading-center mb-3">
        <h2 class="title">New Arrivals</h2>

        <ul class="nav nav-pills justify-content-center" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="new-all-link" data-toggle="tab" href="javascript:;" role="tab" aria-controls="new-all-tab" aria-selected="true">All</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="new-cloth-link" data-toggle="tab" href="javascript:;" role="tab" aria-controls="new-cloth-tab" aria-selected="false">Clothing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="new-shoes-link" data-toggle="tab" href="javascript:;" role="tab" aria-controls="new-shoes-tab" aria-selected="false">Shoes & Boots</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="new-access-link" data-toggle="tab" href="javascript:;" role="tab" aria-controls="new-access-tab" aria-selected="false">Accessories</a>
            </li>
        </ul>
    </div>

    <div class="tab-content">
        <div class="tab-pane p-0 fade show active" id="new-all-tab" role="tabpanel" aria-labelledby="new-all-link">
            <div class="products">
                <div class="row justify-content-center">
                    <div class="col-6 col-md-4 col-lg-3">
                        <div class="product product-2">
                            <figure class="product-media">
                                <a href="/product-details/1">
                                    <img src="/images/demos/demo-5/products/product-5-1.jpg" alt="Product image" class="product-image">
                                    <img src="/images/demos/demo-5/products/product-5-2.jpg" alt="Product image" class="product-image-hover">
                                </a>

                                <div class="product-action-vertical">
                                    <a href="javascript:;" class="btn-product-icon btn-wishlist" title="Add to wishlist"><span>add to wishlist</span></a>
                                </div>

                                <div class="product-action product-action-transparent">
                                    <a href="javascript:;" class="btn-product btn-cart"><span>add to cart</span></a>
                                </div>
                            </figure>

                            <div class="product-body">
                                <div class="product-cat">
                                    <a href="javascript:;">Clothing</a>
                                </div>
                                <h3 class="product-title"><a href="/product-details/1">Linen-blend dress</a></h3>
                                <div class="product-price">
                                    $60.00
                                </div>
                                <div class="product-nav product-nav-dots">
                                    <a href="javascript:;" class="active" style="background: #e5dcb1;"><span class="sr-only">Color name</span></a>
                                    <a href="javascript:;" style="background: #b9cbd8;"><span class="sr-only">Color name</span></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-md-4 col-lg-3">
                        <div class="product product-2">
                            <figure class="product-media">
                                <a href="/product-details/1">
                                    <img src="/images/demos/demo-5/products/product-6-1.jpg" alt="Product image" class="product-image">
                                    <img src="/images/demos/demo-5/products/product-6-2.jpg" alt="Product image" class="product-image-hover">
                                </a>

                                <div class="product-action-vertical">
                                    <a href="javascript:;" class="btn-product-icon btn-wishlist" title="Add to wishlist"><span>add to wishlist</span></a>
                                </div>

                                <div class="product-action product-action-transparent">
                                    <a href="javascript:;" class="btn-product btn-cart"><span>add to cart</span></a>
                                </div>
                            </figure>

                            <div class="product-body">
                                <div class="product-cat">
                                    <a href="javascript:;">Shoes</a>
                                </div>
                                <h3 class="product-title"><a href="/product-details/1">Sandals with lacing</a></h3>
                                <div class="product-price">
                                    <span class="new-price">Now $70.00</span>
                                    <span class="old-price">Was $155.00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-4 col-lg-3">
                        <div class="product product-2">
                            <figure class="product-media">
                                <a href="/product-details/1">
                                    <img src="/images/demos/demo-5/products/product-7-1.jpg" alt="Product image" class="product-image">
                                    <img src="/images/demos/demo-5/products/product-7-2.jpg" alt="Product image" class="product-image-hover">
                                </a>

                                <div class="product-action-vertical">
                                    <a href="javascript:;" class="btn-product-icon btn-wishlist" title="Add to wishlist"><span>add to wishlist</span></a>
                                </div>

                                <div class="product-action product-action-transparent">
                                    <a href="javascript:;" class="btn-product btn-cart"><span>add to cart</span></a>
                                </div>
                            </figure>

                            <div class="product-body">
                                <div class="product-cat">
                                    <a href="javascript:;">Clothing</a>
                                </div>
                                <h3 class="product-title"><a href="/product-details/1">Paper bag trousers</a></h3>
                                <div class="product-price">
                                    $60.00
                                </div>
                                <div class="product-nav product-nav-dots">
                                    <a href="javascript:;" class="active" style="background: #9fac76;"><span class="sr-only">Color name</span></a>
                                    <a href="javascript:;" style="background: #333333;"><span class="sr-only">Color name</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-4 col-lg-3">
                        <div class="product product-2">
                            <figure class="product-media">
                                <a href="/product-details/1">
                                    <img src="/images/demos/demo-5/products/product-8-1.jpg" alt="Product image" class="product-image">
                                    <img src="/images/demos/demo-5/products/product-8-2.jpg" alt="Product image" class="product-image-hover">
                                </a>

                                <div class="product-action-vertical">
                                    <a href="javascript:;" class="btn-product-icon btn-wishlist" title="Add to wishlist"><span>add to wishlist</span></a>
                                </div>

                                <div class="product-action product-action-transparent">
                                    <a href="javascript:;" class="btn-product btn-cart"><span>add to cart</span></a>
                                </div>
                            </figure>

                            <div class="product-body">
                                <div class="product-cat">
                                    <a href="javascript:;">Handbags</a>
                                </div>
                                <h3 class="product-title"><a href="/product-details/1">Paper straw shopper</a></h3>
                                <div class="product-price">
                                    $398.00
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-4 col-lg-3">
                        <div class="product product-2">
                            <figure class="product-media">
                                <a href="/product-details/1">
                                    <img src="/images/demos/demo-5/products/product-9-1.jpg" alt="Product image" class="product-image">
                                    <img src="/images/demos/demo-5/products/product-9-2.jpg" alt="Product image" class="product-image-hover">
                                </a>

                                <div class="product-action-vertical">
                                    <a href="javascript:;" class="btn-product-icon btn-wishlist" title="Add to wishlist"><span>add to wishlist</span></a>
                                </div>

                                <div class="product-action product-action-transparent">
                                    <a href="javascript:;" class="btn-product btn-cart"><span>add to cart</span></a>
                                </div>
                            </figure>

                            <div class="product-body">
                                <div class="product-cat">
                                    <a href="javascript:;">Handbags</a>
                                </div>
                                <h3 class="product-title"><a href="/product-details/1">Bucket bag</a></h3>
                                <div class="product-price">
                                    $350.00
                                </div>
                                <div class="product-nav product-nav-dots">
                                    <a href="javascript:;" class="active" style="background: #e3a84d;"><span class="sr-only">Color name</span></a>
                                    <a href="javascript:;" style="background: #f48a5b;"><span class="sr-only">Color name</span></a>
                                    <a href="javascript:;" style="background: #333333;"><span class="sr-only">Color name</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-4 col-lg-3">
                        <div class="product product-2">
                            <figure class="product-media">
                                <a href="/product-details/1">
                                    <img src="/images/demos/demo-5/products/product-10-1.jpg" alt="Product image" class="product-image">
                                    <img src="/images/demos/demo-5/products/product-10-2.jpg" alt="Product image" class="product-image-hover">
                                </a>

                                <div class="product-action-vertical">
                                    <a href="javascript:;" class="btn-product-icon btn-wishlist" title="Add to wishlist"><span>add to wishlist</span></a>
                                </div>

                                <div class="product-action product-action-transparent">
                                    <a href="javascript:;" class="btn-product btn-cart"><span>add to cart</span></a>
                                </div>
                            </figure>

                            <div class="product-body">
                                <div class="product-cat">
                                    <a href="javascript:;">Clothing</a>
                                </div>
                                <h3 class="product-title"><a href="/product-details/1">Silk-blend kaftan</a></h3>
                                <div class="product-price">
                                    Now $370.00
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-4 col-lg-3">
                        <div class="product product-2">
                            <figure class="product-media">
                                <a href="/product-details/1">
                                    <img src="/images/demos/demo-5/products/product-11-1.jpg" alt="Product image" class="product-image">
                                    <img src="/images/demos/demo-5/products/product-11-2.jpg" alt="Product image" class="product-image-hover">
                                </a>

                                <div class="product-action-vertical">
                                    <a href="javascript:;" class="btn-product-icon btn-wishlist" title="Add to wishlist"><span>add to wishlist</span></a>
                                </div>

                                <div class="product-action product-action-transparent">
                                    <a href="javascript:;" class="btn-product btn-cart"><span>add to cart</span></a>
                                </div>
                            </figure>

                            <div class="product-body">
                                <div class="product-cat">
                                    <a href="javascript:;">Clothing</a>
                                </div>
                                <h3 class="product-title"><a href="/product-details/1">Linen-blend jumpsuit</a></h3>
                                <div class="product-price">
                                    $595.00
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-4 col-lg-3">
                        <div class="product product-2">
                            <figure class="product-media">
                                <a href="/product-details/1">
                                    <img src="/images/demos/demo-5/products/product-12-1.jpg" alt="Product image" class="product-image">
                                    <img src="/images/demos/demo-5/products/product-12-2.jpg" alt="Product image" class="product-image-hover">
                                </a>

                                <div class="product-action-vertical">
                                    <a href="javascript:;" class="btn-product-icon btn-wishlist" title="Add to wishlist"><span>add to wishlist</span></a>
                                </div>

                                <div class="product-action product-action-transparent">
                                    <a href="javascript:;" class="btn-product btn-cart"><span>add to cart</span></a>
                                </div>
                            </figure>

                            <div class="product-body">
                                <div class="product-cat">
                                    <a href="javascript:;">Shoes</a>
                                </div>
                                <h3 class="product-title"><a href="/product-details/1">Sandals</a></h3>
                                <div class="product-price">
                                    <span class="new-price">Now $120.00</span>
                                    <span class="old-price">Was $140.00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane p-0 fade" id="new-cloth-tab" role="tabpanel" aria-labelledby="new-cloth-link">
            <div class="products">
                <div class="row justify-content-center">
                    <div class="col-6 col-md-4 col-lg-3">
                        <div class="product product-2">
                            <figure class="product-media">
                                <a href="/product-details/1">
                                    <img src="/images/demos/demo-5/products/product-5-1.jpg" alt="Product image" class="product-image">
                                    <img src="/images/demos/demo-5/products/product-5-2.jpg" alt="Product image" class="product-image-hover">
                                </a>

                                <div class="product-action-vertical">
                                    <a href="javascript:;" class="btn-product-icon btn-wishlist" title="Add to wishlist"><span>add to wishlist</span></a>
                                </div>

                                <div class="product-action product-action-transparent">
                                    <a href="javascript:;" class="btn-product btn-cart"><span>add to cart</span></a>
                                </div>
                            </figure>

                            <div class="product-body">
                                <div class="product-cat">
                                    <a href="javascript:;">Clothing</a>
                                </div>
                                <h3 class="product-title"><a href="/product-details/1">Linen-blend dress</a></h3>
                                <div class="product-price">
                                    $60.00
                                </div>
                                <div class="product-nav product-nav-dots">
                                    <a href="javascript:;" class="active" style="background: #e5dcb1;"><span class="sr-only">Color name</span></a>
                                    <a href="javascript:;" style="background: #b9cbd8;"><span class="sr-only">Color name</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-4 col-lg-3">
                        <div class="product product-2">
                            <figure class="product-media">
                                <a href="/product-details/1">
                                    <img src="/images/demos/demo-5/products/product-7-1.jpg" alt="Product image" class="product-image">
                                    <img src="/images/demos/demo-5/products/product-7-2.jpg" alt="Product image" class="product-image-hover">
                                </a>

                                <div class="product-action-vertical">
                                    <a href="javascript:;" class="btn-product-icon btn-wishlist" title="Add to wishlist"><span>add to wishlist</span></a>
                                </div>

                                <div class="product-action product-action-transparent">
                                    <a href="javascript:;" class="btn-product btn-cart"><span>add to cart</span></a>
                                </div>
                            </figure>

                            <div class="product-body">
                                <div class="product-cat">
                                    <a href="javascript:;">Clothing</a>
                                </div>
                                <h3 class="product-title"><a href="/product-details/1">Paper bag trousers</a></h3>
                                <div class="product-price">
                                    $60.00
                                </div>
                                <div class="product-nav product-nav-dots">
                                    <a href="javascript:;" class="active" style="background: #9fac76;"><span class="sr-only">Color name</span></a>
                                    <a href="javascript:;" style="background: #333333;"><span class="sr-only">Color name</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-4 col-lg-3">
                        <div class="product product-2">
                            <figure class="product-media">
                                <a href="/product-details/1">
                                    <img src="/images/demos/demo-5/products/product-10-1.jpg" alt="Product image" class="product-image">
                                    <img src="/images/demos/demo-5/products/product-10-2.jpg" alt="Product image" class="product-image-hover">
                                </a>

                                <div class="product-action-vertical">
                                    <a href="javascript:;" class="btn-product-icon btn-wishlist" title="Add to wishlist"><span>add to wishlist</span></a>
                                </div>

                                <div class="product-action product-action-transparent">
                                    <a href="javascript:;" class="btn-product btn-cart"><span>add to cart</span></a>
                                </div>
                            </figure>

                            <div class="product-body">
                                <div class="product-cat">
                                    <a href="javascript:;">Clothing</a>
                                </div>
                                <h3 class="product-title"><a href="/product-details/1">Silk-blend kaftan</a></h3>
                                <div class="product-price">
                                    Now $370.00
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-4 col-lg-3">
                        <div class="product product-2">
                            <figure class="product-media">
                                <a href="/product-details/1">
                                    <img src="/images/demos/demo-5/products/product-11-1.jpg" alt="Product image" class="product-image">
                                    <img src="/images/demos/demo-5/products/product-11-2.jpg" alt="Product image" class="product-image-hover">
                                </a>

                                <div class="product-action-vertical">
                                    <a href="javascript:;" class="btn-product-icon btn-wishlist" title="Add to wishlist"><span>add to wishlist</span></a>
                                </div>

                                <div class="product-action product-action-transparent">
                                    <a href="javascript:;" class="btn-product btn-cart"><span>add to cart</span></a>
                                </div>
                            </figure>

                            <div class="product-body">
                                <div class="product-cat">
                                    <a href="javascript:;">Clothing</a>
                                </div>
                                <h3 class="product-title"><a href="/product-details/1">Linen-blend jumpsuit</a></h3>
                                <div class="product-price">
                                    $595.00
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane p-0 fade" id="new-shoes-tab" role="tabpanel" aria-labelledby="new-shoes-link">
            <div class="products">
                <div class="row justify-content-center">
                    <div class="col-6 col-md-4 col-lg-3">
                        <div class="product product-2">
                            <figure class="product-media">
                                <a href="/product-details/1">
                                    <img src="/images/demos/demo-5/products/product-6-1.jpg" alt="Product image" class="product-image">
                                    <img src="/images/demos/demo-5/products/product-6-2.jpg" alt="Product image" class="product-image-hover">
                                </a>

                                <div class="product-action-vertical">
                                    <a href="javascript:;" class="btn-product-icon btn-wishlist" title="Add to wishlist"><span>add to wishlist</span></a>
                                </div>

                                <div class="product-action product-action-transparent">
                                    <a href="javascript:;" class="btn-product btn-cart"><span>add to cart</span></a>
                                </div>
                            </figure>

                            <div class="product-body">
                                <div class="product-cat">
                                    <a href="javascript:;">Shoes</a>
                                </div>
                                <h3 class="product-title"><a href="/product-details/1">Sandals with lacing</a></h3>
                                <div class="product-price">
                                    <span class="new-price">Now $70.00</span>
                                    <span class="old-price">Was $155.00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-4 col-lg-3">
                        <div class="product product-2">
                            <figure class="product-media">
                                <a href="/product-details/1">
                                    <img src="/images/demos/demo-5/products/product-12-1.jpg" alt="Product image" class="product-image">
                                    <img src="/images/demos/demo-5/products/product-12-2.jpg" alt="Product image" class="product-image-hover">
                                </a>

                                <div class="product-action-vertical">
                                    <a href="javascript:;" class="btn-product-icon btn-wishlist" title="Add to wishlist"><span>add to wishlist</span></a>
                                </div>

                                <div class="product-action product-action-transparent">
                                    <a href="javascript:;" class="btn-product btn-cart"><span>add to cart</span></a>
                                </div>
                            </figure>

                            <div class="product-body">
                                <div class="product-cat">
                                    <a href="javascript:;">Shoes</a>
                                </div>
                                <h3 class="product-title"><a href="/product-details/1">Sandals</a></h3>
                                <div class="product-price">
                                    <span class="new-price">Now $120.00</span>
                                    <span class="old-price">Was $140.00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane p-0 fade" id="new-access-tab" role="tabpanel" aria-labelledby="new-access-link">
            <div class="products">
                <div class="row justify-content-center">
                    <div class="col-6 col-md-4 col-lg-3">
                        <div class="product product-2">
                            <figure class="product-media">
                                <a href="/product-details/1">
                                    <img src="/images/demos/demo-5/products/product-8-1.jpg" alt="Product image" class="product-image">
                                    <img src="/images/demos/demo-5/products/product-8-2.jpg" alt="Product image" class="product-image-hover">
                                </a>

                                <div class="product-action-vertical">
                                    <a href="javascript:;" class="btn-product-icon btn-wishlist" title="Add to wishlist"><span>add to wishlist</span></a>
                                </div>

                                <div class="product-action product-action-transparent">
                                    <a href="javascript:;" class="btn-product btn-cart"><span>add to cart</span></a>
                                </div>
                            </figure>

                            <div class="product-body">
                                <div class="product-cat">
                                    <a href="javascript:;">Handbags</a>
                                </div>
                                <h3 class="product-title"><a href="/product-details/1">Paper straw shopper</a></h3>
                                <div class="product-price">
                                    $398.00
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-4 col-lg-3">
                        <div class="product product-2">
                            <figure class="product-media">
                                <a href="/product-details/1">
                                    <img src="/images/demos/demo-5/products/product-9-1.jpg" alt="Product image" class="product-image">
                                    <img src="/images/demos/demo-5/products/product-9-2.jpg" alt="Product image" class="product-image-hover">
                                </a>

                                <div class="product-action-vertical">
                                    <a href="javascript:;" class="btn-product-icon btn-wishlist" title="Add to wishlist"><span>add to wishlist</span></a>
                                </div>

                                <div class="product-action product-action-transparent">
                                    <a href="javascript:;" class="btn-product btn-cart"><span>add to cart</span></a>
                                </div>
                            </figure>

                            <div class="product-body">
                                <div class="product-cat">
                                    <a href="javascript:;">Handbags</a>
                                </div>
                                <h3 class="product-title"><a href="/product-details/1">Bucket bag</a></h3>
                                <div class="product-price">
                                    $350.00
                                </div>
                                <div class="product-nav product-nav-dots">
                                    <a href="javascript:;" class="active" style="background: #e3a84d;"><span class="sr-only">Color name</span></a>
                                    <a href="javascript:;" style="background: #f48a5b;"><span class="sr-only">Color name</span></a>
                                    <a href="javascript:;" style="background: #333333;"><span class="sr-only">Color name</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="more-container text-center mt-1 mb-3">
        <a href="javascript:;" class="btn btn-outline-primary-2 btn-round btn-more">Load more</a>
    </div>
</div>
    
<div class="mb-2"></div>

<div class="container">
    <div class="cta cta-separator mb-5">
        <div class="row">
            <div class="col-lg-6">
                <div class="cta-wrapper cta-text text-center">
                    <h3 class="cta-title">Shop Social</h3>
                    <p class="cta-desc">Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. </p><!-- End .cta-desc -->
            
                    <div class="social-icons social-icons-colored justify-content-center">
                        <a href="javascript:;" class="social-icon social-facebook" title="Facebook" target="_blank"><i class="icon-facebook-f"></i></a>
                        <a href="javascript:;" class="social-icon social-twitter" title="Twitter" target="_blank"><i class="icon-twitter"></i></a>
                        <a href="javascript:;" class="social-icon social-instagram" title="Instagram" target="_blank"><i class="icon-instagram"></i></a>
                        <a href="javascript:;" class="social-icon social-youtube" title="Youtube" target="_blank"><i class="icon-youtube"></i></a>
                        <a href="javascript:;" class="social-icon social-pinterest" title="Pinterest" target="_blank"><i class="icon-pinterest"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="cta-wrapper text-center">
                    <h3 class="cta-title">Get the Latest Deals</h3>
                    <p class="cta-desc">and <br>receive <span class="text-primary">$20 coupon</span> for first shopping</p><!-- End .cta-desc -->
            
                    <form action="#">
                        <div class="input-group">
                            <input type="email" class="form-control" placeholder="Enter your Email Address" aria-label="Email Adress" required>
                            <div class="input-group-append">
                                <button class="btn btn-new-primary btn-rounded" type="submit"><i class="icon-long-arrow-right"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</div><%-include('./users/footer.ejs')%>