<%- include('./header.ejs') %>
    <div class="content-area pb-5">
        <div class="static-card-group mb-30">
            <h5 class="fs-20 fw-md stas-heading text-center mt-3">Dashboard</h5>
        </div>
    </div>
<%-include('./users/footer.ejs')%>