
            </main>

            <!-- Footer Start -->
            <footer class="footer footer-2">
                <div class="footer-middle border-0">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 col-lg-6">
                                <div class="widget widget-about">
                                    <img src="/images/demos/demo-5/logo-footer.png" class="footer-logo" alt="Footer Logo" width="105" height="25">
                                    <p>Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus. </p>
                                    
                                    <div class="widget-about-info">
                                        <div class="row">
                                            <div class="col-sm-6 col-md-4">
                                                <span class="widget-about-title">Got Question? Call us 24/7</span>
                                                <a href="tel:123456789">+0123 456 789</a>
                                            </div>
                                            <div class="col-sm-6 col-md-8">
                                                <span class="widget-about-title">Payment Method</span>
                                                <figure class="footer-payments">
                                                    <img src="/images/payments.png" alt="Payment methods" width="272" height="20">
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-4 col-lg-2">
                                <div class="widget">
                                    <h4 class="widget-title">Information</h4>

                                    <ul class="widget-list">
                                        <li><a href="javascript:;">About Molla</a></li>
                                        <li><a href="javascript:;">How to shop on Molla</a></li>
                                        <li><a href="javascript:;">FAQ</a></li>
                                        <li><a href="javascript:;">Contact us</a></li>
                                        <li><a href="javascript:;">Log in</a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-sm-4 col-lg-2">
                                <div class="widget">
                                    <h4 class="widget-title">Customer Service</h4>

                                    <ul class="widget-list">
                                        <li><a href="javascript:;">Payment Methods</a></li>
                                        <li><a href="javascript:;">Money-back guarantee!</a></li>
                                        <li><a href="javascript:;">Returns</a></li>
                                        <li><a href="javascript:;">Shipping</a></li>
                                        <li><a href="javascript:;">Terms and conditions</a></li>
                                        <li><a href="javascript:;">Privacy Policy</a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-sm-4 col-lg-2">
                                <div class="widget">
                                    <h4 class="widget-title">My Account</h4>

                                    <ul class="widget-list">
                                        <li><a href="javascript:;">Sign In</a></li>
                                        <li><a href="javascript:;">View Cart</a></li>
                                        <li><a href="javascript:;">My Wishlist</a></li>
                                        <li><a href="javascript:;">Track My Order</a></li>
                                        <li><a href="javascript:;">Help</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="footer-bottom">
                    <div class="container">
                        <p class="footer-copyright">Copyright © 2019 Molla Store. All Rights Reserved.</p>
                        <ul class="footer-menu">
                            <li><a href="javascript:;">Terms Of Use</a></li>
                            <li><a href="javascript:;">Privacy Policy</a></li>
                        </ul>
                        <div class="social-icons social-icons-color">
                            <span class="social-label">Social Media</span>
                            <a href="javascript:;" class="social-icon social-facebook" title="Facebook" target="_blank"><i class="icon-facebook-f"></i></a>
                            <a href="javascript:;" class="social-icon social-twitter" title="Twitter" target="_blank"><i class="icon-twitter"></i></a>
                            <a href="javascript:;" class="social-icon social-instagram" title="Instagram" target="_blank"><i class="icon-instagram"></i></a>
                            <a href="javascript:;" class="social-icon social-youtube" title="Youtube" target="_blank"><i class="icon-youtube"></i></a>
                            <a href="javascript:;" class="social-icon social-pinterest" title="Pinterest" target="_blank"><i class="icon-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- Footer End -->
        </div>

        <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

        <!-- Mobile Menu -->
        <div class="mobile-menu-overlay"></div>

        <div class="container newsletter-popup-container mfp-hide" id="newsletter-popup-form">
            <div class="row justify-content-center">
                <div class="col-10">
                    <div class="row no-gutters bg-white newsletter-popup-content">
                        <div class="col-xl-3-5col col-lg-7 banner-content-wrap">
                            <div class="banner-content text-center">
                                <img src="/images/popup/newsletter/logo.png" class="logo" alt="logo" width="60" height="15">
                                <h2 class="banner-title">get <span>25<light>%</light></span> off</h2>
                                <p>Subscribe to the Molla eCommerce newsletter to receive timely updates from your favorite products.</p>
                                <form action="#">
                                    <div class="input-group input-group-round">
                                        <input type="email" class="form-control form-control-white" placeholder="Your Email Address" aria-label="Email Adress" required>
                                        <div class="input-group-append">
                                            <button class="btn" type="submit"><span>go</span></button>
                                        </div>
                                    </div>
                                </form>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="register-policy-2" required>
                                    <label class="custom-control-label" for="register-policy-2">Do not show this popup again</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2-5col col-lg-5 ">
                            <img src="/images/popup/newsletter/img-1.jpg" class="newsletter-img" alt="newsletter">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Plugins JS File -->
        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.bundle.min.js"></script>
        <script src="/js/jquery.hoverIntent.min.js"></script>
        <script src="/js/jquery.waypoints.min.js"></script>
        <script src="/js/superfish.min.js"></script>
        <script src="/js/owl.carousel.min.js"></script>
        <script src="/js/jquery.magnific-popup.min.js"></script>
        <script src="/js/jquery.plugin.min.js"></script>
        <script src="/js/jquery.countdown.min.js"></script>

        <!-- Main JS File -->
        <script src="/js/main.js"></script>
        <script src="/js/demos/demo-5.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
        <script src="https://js.stripe.com/v3/"></script>
        <script src="/js/common.js"></script>
        <script src="/js/custom.js"></script>

        <% if(footer.js){ %>
            <script src="/js/<%- footer.js %>"></script>
        <% } %>
    </body>
</html>