<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Product Side</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="keywords" content="HTML5 Template">
        <meta name="description" content="Product - eCommerce website">
        <meta name="author" content="p-themes">

        <!-- Favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="/images/icons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/images/icons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/images/icons/favicon-16x16.png">
        <link rel="manifest" href="/images/icons/site.html">
        <link rel="mask-icon" href="/images/icons/safari-pinned-tab.svg" color="#666666">
        <link rel="shortcut icon" href="/images/icons/favicon.ico">

        <meta name="apple-mobile-web-app-title" content="Molla">
        <meta name="application-name" content="Molla">
        <meta name="msapplication-TileColor" content="#cc9966">
        <meta name="msapplication-config" content="/images/icons/browserconfig.xml">
        <meta name="theme-color" content="#ffffff">

        <!-- Plugins CSS File -->
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/plugins/owl-carousel/owl.carousel.css">
        <link rel="stylesheet" href="/css/plugins/magnific-popup/magnific-popup.css">
        <link rel="stylesheet" href="/css/plugins/jquery.countdown.css">

        <!-- Main CSS File -->
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/skins/skin-demo-5.css">
        <link rel="stylesheet" href="/css/demos/demo-5.css">
    </head>

    <body id="custom_id">
        <div class="page-wrapper">
            <header class="header header-5">
                <div class="header-middle sticky-header">
                    <div class="container-fluid">
                        <div class="header-left">
                            <button class="mobile-menu-toggler">
                                <span class="sr-only">Toggle mobile menu</span>
                                <i class="icon-bars"></i>
                            </button>

                            <a href="/" class="logo">
                                <img src="/images/demos/demo-5/logo.png" alt="Molla Logo" width="105" height="25">
                            </a>

                            <nav class="main-nav">
                                <ul class="menu sf-arrows">
                                    <li class="megamenu-container active">
                                        <a href="/" class="sf-with-ul">Home</a>

                                        <div class="megamenu demo">
                                            <div class="menu-col">
                                                <div class="menu-title">Choose your demo</div>

                                                <div class="demo-list">
                                                    <div class="demo-item">
                                                        <a href="/">
                                                            <span class="demo-bg" style="background-image: url(/images/menu/demos/1.jpg);"></span>
                                                            <span class="demo-title">01 - furniture store</span>
                                                        </a>
                                                    </div>

                                                    <div class="demo-item">
                                                        <a href="/">
                                                            <span class="demo-bg" style="background-image: url(/images/menu/demos/2.jpg);"></span>
                                                            <span class="demo-title">02 - furniture store</span>
                                                        </a>
                                                    </div>

                                                    <div class="demo-item">
                                                        <a href="/">
                                                            <span class="demo-bg" style="background-image: url(/images/menu/demos/3.jpg);"></span>
                                                            <span class="demo-title">03 - electronic store</span>
                                                        </a>
                                                    </div>

                                                    <div class="demo-item">
                                                        <a href="/">
                                                            <span class="demo-bg" style="background-image: url(/images/menu/demos/4.jpg);"></span>
                                                            <span class="demo-title">04 - electronic store</span>
                                                        </a>
                                                    </div>

                                                    <div class="demo-item">
                                                        <a href="/">
                                                            <span class="demo-bg" style="background-image: url(/images/menu/demos/5.jpg);"></span>
                                                            <span class="demo-title">05 - fashion store</span>
                                                        </a>
                                                    </div>

                                                    <div class="demo-item">
                                                        <a href="/">
                                                            <span class="demo-bg" style="background-image: url(/images/menu/demos/6.jpg);"></span>
                                                            <span class="demo-title">06 - fashion store</span>
                                                        </a>
                                                    </div>

                                                    <div class="demo-item">
                                                        <a href="/">
                                                            <span class="demo-bg" style="background-image: url(/images/menu/demos/7.jpg);"></span>
                                                            <span class="demo-title">07 - fashion store</span>
                                                        </a>
                                                    </div>

                                                    <div class="demo-item">
                                                        <a href="/">
                                                            <span class="demo-bg" style="background-image: url(/images/menu/demos/8.jpg);"></span>
                                                            <span class="demo-title">08 - fashion store</span>
                                                        </a>
                                                    </div>

                                                    <div class="demo-item">
                                                        <a href="/">
                                                            <span class="demo-bg" style="background-image: url(/images/menu/demos/9.jpg);"></span>
                                                            <span class="demo-title">09 - fashion store</span>
                                                        </a>
                                                    </div>

                                                    <div class="demo-item">
                                                        <a href="/">
                                                            <span class="demo-bg" style="background-image: url(/images/menu/demos/10.jpg);"></span>
                                                            <span class="demo-title">10 - shoes store</span>
                                                        </a>
                                                    </div>

                                                    <div class="demo-item hidden">
                                                        <a href="/">
                                                            <span class="demo-bg" style="background-image: url(/images/menu/demos/11.jpg);"></span>
                                                            <span class="demo-title">11 - furniture simple store</span>
                                                        </a>
                                                    </div>

                                                    <div class="demo-item hidden">
                                                        <a href="/">
                                                            <span class="demo-bg" style="background-image: url(/images/menu/demos/12.jpg);"></span>
                                                            <span class="demo-title">12 - fashion simple store</span>
                                                        </a>
                                                    </div>

                                                    <div class="demo-item hidden">
                                                        <a href="/">
                                                            <span class="demo-bg" style="background-image: url(/images/menu/demos/13.jpg);"></span>
                                                            <span class="demo-title">13 - market</span>
                                                        </a>
                                                    </div>

                                                    <div class="demo-item hidden">
                                                        <a href="/">
                                                            <span class="demo-bg" style="background-image: url(/images/menu/demos/14.jpg);"></span>
                                                            <span class="demo-title">14 - market fullwidth</span>
                                                        </a>
                                                    </div>

                                                    <div class="demo-item hidden">
                                                        <a href="/">
                                                            <span class="demo-bg" style="background-image: url(/images/menu/demos/15.jpg);"></span>
                                                            <span class="demo-title">15 - lookbook 1</span>
                                                        </a>
                                                    </div>

                                                    <div class="demo-item hidden">
                                                        <a href="/">
                                                            <span class="demo-bg" style="background-image: url(/images/menu/demos/16.jpg);"></span>
                                                            <span class="demo-title">16 - lookbook 2</span>
                                                        </a>
                                                    </div>

                                                    <div class="demo-item hidden">
                                                        <a href="/">
                                                            <span class="demo-bg" style="background-image: url(/images/menu/demos/17.jpg);"></span>
                                                            <span class="demo-title">17 - fashion store</span>
                                                        </a>
                                                    </div>

                                                    <div class="demo-item hidden">
                                                        <a href="/">
                                                            <span class="demo-bg" style="background-image: url(/images/menu/demos/18.jpg);"></span>
                                                            <span class="demo-title">18 - fashion store (with sidebar)</span>
                                                        </a>
                                                    </div>

                                                    <div class="demo-item hidden">
                                                        <a href="/">
                                                            <span class="demo-bg" style="background-image: url(/images/menu/demos/19.jpg);"></span>
                                                            <span class="demo-title">19 - games store</span>
                                                        </a>
                                                    </div>

                                                    <div class="demo-item hidden">
                                                        <a href="/">
                                                            <span class="demo-bg" style="background-image: url(/images/menu/demos/20.jpg);"></span>
                                                            <span class="demo-title">20 - book store</span>
                                                        </a>
                                                    </div>

                                                    <div class="demo-item hidden">
                                                        <a href="/">
                                                            <span class="demo-bg" style="background-image: url(/images/menu/demos/21.jpg);"></span>
                                                            <span class="demo-title">21 - sport store</span>
                                                        </a>
                                                    </div>

                                                    <div class="demo-item hidden">
                                                        <a href="/">
                                                            <span class="demo-bg" style="background-image: url(/images/menu/demos/22.jpg);"></span>
                                                            <span class="demo-title">22 - tools store</span>
                                                        </a>
                                                    </div>

                                                    <div class="demo-item hidden">
                                                        <a href="/">
                                                            <span class="demo-bg" style="background-image: url(/images/menu/demos/23.jpg);"></span>
                                                            <span class="demo-title">23 - fashion left navigation store</span>
                                                        </a>
                                                    </div>

                                                    <div class="demo-item hidden">
                                                        <a href="/">
                                                            <span class="demo-bg" style="background-image: url(/images/menu/demos/24.jpg);"></span>
                                                            <span class="demo-title">24 - extreme sport store</span>
                                                        </a>
                                                    </div>

                                                </div>

                                                <div class="megamenu-action text-center">
                                                    <a href="javascript:;" class="btn btn-outline-primary-2 view-all-demos"><span>View All Demos</span><i class="icon-long-arrow-right"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="javascript:;" class="sf-with-ul">Shop</a>

                                        <div class="megamenu megamenu-md">
                                            <div class="row no-gutters">
                                                <div class="col-md-8">
                                                    <div class="menu-col">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="menu-title">Shop with sidebar</div>
                                                                <ul>
                                                                    <li><a href="javascript:;">Shop List</a></li>
                                                                    <li><a href="javascript:;">Shop Grid 2 Columns</a></li>
                                                                    <li><a href="javascript:;">Shop Grid 3 Columns</a></li>
                                                                    <li><a href="javascript:;">Shop Grid 4 Columns</a></li>
                                                                    <li><a href="javascript:;"><span>Shop Market<span class="tip tip-new">New</span></span></a></li>
                                                                </ul>

                                                                <div class="menu-title">Shop no sidebar</div>
                                                                <ul>
                                                                    <li><a href="javascript:;"><span>Shop Boxed No Sidebar<span class="tip tip-hot">Hot</span></span></a></li>
                                                                    <li><a href="javascript:;">Shop Fullwidth No Sidebar</a></li>
                                                                </ul>
                                                            </div>

                                                            <div class="col-md-6">
                                                                <div class="menu-title">Product Category</div>
                                                                <ul>
                                                                    <li><a href="javascript:;">Product Category Boxed</a></li>
                                                                    <li><a href="javascript:;"><span>Product Category Fullwidth<span class="tip tip-new">New</span></span></a></li>
                                                                </ul>
                                                                <div class="menu-title">Shop Pages</div>
                                                                <ul>
                                                                    <li><a href="javascript:;">Cart</a></li>
                                                                    <li><a href="javascript:;">Checkout</a></li>
                                                                    <li><a href="javascript:;">Wishlist</a></li>
                                                                    <li><a href="javascript:;">My Account</a></li>
                                                                    <li><a href="javascript:;">Lookbook</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-4">
                                                    <div class="banner banner-overlay">
                                                        <a href="javascript:;" class="banner banner-menu">
                                                            <img src="/images/menu/banner-1.jpg" alt="Banner">

                                                            <div class="banner-content banner-content-top">
                                                                <div class="banner-title text-white">Last <br>Chance<br><span><strong>Sale</strong></span></div><!-- End .banner-title -->
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="javascript:;" class="sf-with-ul">Product</a>

                                        <div class="megamenu megamenu-sm">
                                            <div class="row no-gutters">
                                                <div class="col-md-6">
                                                    <div class="menu-col">
                                                        <div class="menu-title">Product Details</div>
                                                        <ul>
                                                            <li><a href="javascript:;">Default</a></li>
                                                            <li><a href="javascript:;">Centered</a></li>
                                                            <li><a href="javascript:;"><span>Extended Info<span class="tip tip-new">New</span></span></a></li>
                                                            <li><a href="javascript:;">Gallery</a></li>
                                                            <li><a href="javascript:;">Sticky Info</a></li>
                                                            <li><a href="javascript:;">Boxed With Sidebar</a></li>
                                                            <li><a href="javascript:;">Full Width</a></li>
                                                            <li><a href="javascript:;">Masonry Sticky Info</a></li>
                                                        </ul>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="banner banner-overlay">
                                                        <a href="javascript:;">
                                                            <img src="/images/menu/banner-2.jpg" alt="Banner">

                                                            <div class="banner-content banner-content-bottom">
                                                                <div class="banner-title text-white">New Trends<br><span><strong>spring 2019</strong></span></div><!-- End .banner-title -->
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="javascript:;" class="sf-with-ul">Pages</a>

                                        <ul>
                                            <li>
                                                <a href="javascript:;" class="sf-with-ul">About</a>

                                                <ul>
                                                    <li><a href="javascript:;">About 01</a></li>
                                                    <li><a href="javascript:;">About 02</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="javascript:;" class="sf-with-ul">Contact</a>

                                                <ul>
                                                    <li><a href="javascript:;">Contact 01</a></li>
                                                    <li><a href="javascript:;">Contact 02</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="javascript:;">Login</a></li>
                                            <li><a href="javascript:;">FAQs</a></li>
                                            <li><a href="javascript:;">Coming Soon</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="javascript:;" class="sf-with-ul">Blog</a>

                                        <ul>
                                            <li><a href="javascript:;">Classic</a></li>
                                            <li><a href="javascript:;">Listing</a></li>
                                            <li>
                                                <a href="javascript:;">Grid</a>
                                                <ul>
                                                    <li><a href="javascript:;">Grid 2 columns</a></li>
                                                    <li><a href="javascript:;">Grid 3 columns</a></li>
                                                    <li><a href="javascript:;">Grid 4 columns</a></li>
                                                    <li><a href="javascript:;">Grid sidebar</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="javascript:;">Masonry</a>
                                                <ul>
                                                    <li><a href="javascript:;">Masonry 2 columns</a></li>
                                                    <li><a href="javascript:;">Masonry 3 columns</a></li>
                                                    <li><a href="javascript:;">Masonry 4 columns</a></li>
                                                    <li><a href="javascript:;">Masonry sidebar</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="javascript:;">Mask</a>
                                                <ul>
                                                    <li><a href="javascript:;">Blog mask grid</a></li>
                                                    <li><a href="javascript:;">Blog mask masonry</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="javascript:;">Single Post</a>
                                                <ul>
                                                    <li><a href="javascript:;">Default with sidebar</a></li>
                                                    <li><a href="javascript:;">Fullwidth no sidebar</a></li>
                                                    <li><a href="javascript:;">Fullwidth with sidebar</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="javascript:;" class="sf-with-ul">Elements</a>

                                        <ul>
                                            <li><a href="javascript:;">Products</a></li>
                                            <li><a href="javascript:;">Typography</a></li>
                                            <li><a href="javascript:;">Titles</a></li>
                                            <li><a href="javascript:;">Banners</a></li>
                                            <li><a href="javascript:;">Product Category</a></li>
                                            <li><a href="javascript:;">Video Banners</a></li>
                                            <li><a href="javascript:;">Buttons</a></li>
                                            <li><a href="javascript:;">Accordions</a></li>
                                            <li><a href="javascript:;">Tabs</a></li>
                                            <li><a href="javascript:;">Testimonials</a></li>
                                            <li><a href="javascript:;">Blog Posts</a></li>
                                            <li><a href="javascript:;">Portfolio</a></li>
                                            <li><a href="javascript:;">Call to Action</a></li>
                                            <li><a href="javascript:;">Icon Boxes</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                        </div>

                        <div class="header-right">
                            <div class="header-search header-search-extended header-search-visible">
                                <a href="javascript:;" class="search-toggle" role="button"><i class="icon-search"></i></a>
                                <form action="#" method="get">
                                    <div class="header-search-wrapper">
                                        <label for="q" class="sr-only">Search</label>
                                        <input type="search" class="form-control" name="q" id="q" placeholder="Search product ..." required>
                                        <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
                                    </div>
                                </form>
                            </div>
                            
                            <a href="javascript:;" class="wishlist-link">
                                <i class="icon-heart-o"></i>
                            </a>

                            <div class="dropdown cart-dropdown">
                                <a href="javascript:;" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
                                    <i class="icon-shopping-cart"></i>
                                    <span class="cart-count">2</span>
                                </a>

                                <div class="dropdown-menu dropdown-menu-right">
                                    <div class="dropdown-cart-products">
                                        <div class="product">
                                            <div class="product-cart-details">
                                                <h4 class="product-title">
                                                    <a href="javascript:;">Beige knitted elastic runner shoes</a>
                                                </h4>

                                                <span class="cart-product-info">
                                                    <span class="cart-product-qty">1</span>
                                                    x $84.00
                                                </span>
                                            </div>

                                            <figure class="product-image-container">
                                                <a href="javascript:;" class="product-image">
                                                    <img src="/images/products/cart/product-1.jpg" alt="product">
                                                </a>
                                            </figure>
                                            <a href="javascript:;" class="btn-remove" title="Remove Product"><i class="icon-close"></i></a>
                                        </div>

                                        <div class="product">
                                            <div class="product-cart-details">
                                                <h4 class="product-title">
                                                    <a href="javascript:;">Blue utility pinafore denim dress</a>
                                                </h4>

                                                <span class="cart-product-info">
                                                    <span class="cart-product-qty">1</span>
                                                    x $76.00
                                                </span>
                                            </div>

                                            <figure class="product-image-container">
                                                <a href="javascript:;" class="product-image">
                                                    <img src="/images/products/cart/product-2.jpg" alt="product">
                                                </a>
                                            </figure>
                                            <a href="javascript:;" class="btn-remove" title="Remove Product"><i class="icon-close"></i></a>
                                        </div>
                                    </div>

                                    <div class="dropdown-cart-total">
                                        <span>Total</span>

                                        <span class="cart-total-price">$160.00</span>
                                    </div>

                                    <div class="dropdown-cart-action">
                                        <a href="javascript:;" class="btn btn-primary">View Cart</a>
                                        <a href="javascript:;" class="btn btn-outline-primary-2"><span>Checkout</span><i class="icon-long-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>

            <main class="main">