<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Million Dollar Fan</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/responsive-new.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Manrope:wght@200..800&display=swap"
    />
  </head>

  <body>
    <section class="maintenance-page">
      <div class="container">
        <div class="maintenance-container">
          <h1>We'll Be Back Soon!</h1>
          <div class="web-view">
            <div class="web-heading">
              <svg
                width="86"
                height="22"
                viewBox="0 0 86 22"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <circle cx="10.2772" cy="10.9999" r="10.2772" fill="white" />
                <circle cx="42.577" cy="10.9999" r="10.2772" fill="white" />
                <circle cx="74.8769" cy="10.9999" r="10.2772" fill="white" />
              </svg>
            </div>
            <div class="web-view-visual">
              <svg
                width="357"
                height="224"
                viewBox="0 0 357 224"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g class="rotate-circle circle-4">
                  <path
                    d="M277.614 69.1047C277.614 88.5909 293.437 104.397 312.943 104.397C332.461 104.397 348.272 88.5909 348.272 69.1047C348.272 49.6073 332.461 33.812 312.943 33.812C293.437 33.812 277.614 49.6073 277.614 69.1047ZM296.447 69.1047C296.447 59.9955 303.836 52.6138 312.955 52.6138C322.073 52.6138 329.462 59.9955 329.462 69.1047C329.462 78.214 322.073 85.5844 312.955 85.5844C303.836 85.5844 296.447 78.214 296.447 69.1047Z"
                    fill="#432B00"
                  />
                  <path
                    d="M306.161 35.282H319.749L318.997 25.668H306.914L306.161 35.282Z"
                    fill="#432B00"
                  />
                  <path
                    d="M332.023 39.8477L341.625 49.4505L347.902 42.125L339.357 33.5879L332.023 39.8477Z"
                    fill="#432B00"
                  />
                  <path
                    d="M347.071 61.353V74.9271L356.684 74.1755V62.1047L347.071 61.353Z"
                    fill="#432B00"
                  />
                  <path
                    d="M342.489 87.189L332.888 96.7806L340.221 103.052L348.755 94.5145L342.489 87.189Z"
                    fill="#432B00"
                  />
                  <path
                    d="M320.973 102.221H307.385L308.126 111.835H320.22L320.973 102.221Z"
                    fill="#432B00"
                  />
                  <path
                    d="M295.11 97.6444L285.498 88.0527L279.231 95.3783L287.777 103.915L295.11 97.6444Z"
                    fill="#432B00"
                  />
                  <path
                    d="M280.051 76.1498V62.5757L270.438 63.3273V75.3982L280.051 76.1498Z"
                    fill="#432B00"
                  />
                  <path
                    d="M284.633 50.3143L294.246 40.7115L286.913 34.4517L278.367 42.9888L284.633 50.3143Z"
                    fill="#432B00"
                  />
                  <path
                    d="M320.929 61.1399L310.036 58.2231L302.062 66.1993L304.982 77.0698L315.864 79.9866L323.848 72.0216L320.929 61.1399ZM312.955 72.6835C310.979 72.6835 309.384 71.0905 309.384 69.1161C309.384 67.1417 310.979 65.5487 312.955 65.5487C314.932 65.5487 316.526 67.1529 316.526 69.1161C316.526 71.0905 314.921 72.6835 312.955 72.6835Z"
                    fill="#432B00"
                  />
                </g>
                <g class="rotate-circle circle-3">
                  <path
                    d="M196.49 151.638C196.49 171.001 212.257 186.74 231.617 186.74C250.999 186.74 266.766 170.989 266.766 151.638C266.766 132.286 250.999 116.525 231.617 116.525C212.257 116.525 196.49 132.275 196.49 151.638ZM203.969 151.638C203.969 136.37 216.344 123.996 231.617 123.996C246.912 123.996 259.298 136.37 259.298 151.638C259.298 166.906 246.923 179.268 231.617 179.268C216.344 179.268 203.969 166.906 203.969 151.638ZM196.49 151.638C196.49 171.001 212.257 186.74 231.617 186.74C250.999 186.74 266.766 170.989 266.766 151.638C266.766 132.286 250.999 116.525 231.617 116.525C212.257 116.525 196.49 132.275 196.49 151.638ZM203.969 151.638C203.969 136.37 216.344 123.996 231.617 123.996C246.912 123.996 259.298 136.37 259.298 151.638C259.298 166.906 246.923 179.268 231.617 179.268C216.344 179.268 203.969 166.906 203.969 151.638ZM172.391 151.638C172.391 184.317 198.915 210.814 231.617 210.814C264.34 210.814 290.865 184.317 290.865 151.638C290.865 118.948 264.34 92.4502 231.617 92.4502C198.915 92.4502 172.391 118.948 172.391 151.638ZM193.121 151.638C193.121 130.424 210.392 113.159 231.617 113.159C252.852 113.159 270.146 130.424 270.146 151.638C270.146 172.852 252.864 190.105 231.617 190.105C210.392 190.117 193.121 172.852 193.121 151.638ZM196.49 151.638C196.49 171.001 212.257 186.74 231.617 186.74C250.999 186.74 266.766 170.989 266.766 151.638C266.766 132.286 250.999 116.525 231.617 116.525C212.257 116.525 196.49 132.275 196.49 151.638ZM203.969 151.638C203.969 136.37 216.344 123.996 231.617 123.996C246.912 123.996 259.298 136.37 259.298 151.638C259.298 166.906 246.923 179.268 231.617 179.268C216.344 179.268 203.969 166.906 203.969 151.638Z"
                    fill="#D3AE59"
                  />
                  <path
                    d="M224.677 93.5273H238.242L236.884 79.998H226.024L224.677 93.5273Z"
                    fill="#D3AE59"
                  />
                  <path
                    d="M254.694 97.8352L266.441 104.611L272.044 92.226L262.634 86.7964L254.694 97.8352Z"
                    fill="#D3AE59"
                  />
                  <path
                    d="M278.535 116.558L285.307 128.293L296.357 120.361L290.933 110.972L278.535 116.558Z"
                    fill="#D3AE59"
                  />
                  <path
                    d="M289.8 144.683V158.234L303.343 156.888V146.04L289.8 144.683Z"
                    fill="#D3AE59"
                  />
                  <path
                    d="M285.487 174.669L278.704 186.403L291.102 192.001L296.537 182.6L285.487 174.669Z"
                    fill="#D3AE59"
                  />
                  <path
                    d="M266.744 198.485L254.998 205.261L262.938 216.3L272.348 210.87L266.744 198.485Z"
                    fill="#D3AE59"
                  />
                  <path
                    d="M238.591 209.749H225.025L226.373 223.267H237.243L238.591 209.749Z"
                    fill="#D3AE59"
                  />
                  <path
                    d="M208.574 205.429L196.827 198.665L191.224 211.05L200.634 216.468L208.574 205.429Z"
                    fill="#D3AE59"
                  />
                  <path
                    d="M184.732 186.706L177.95 174.972L166.899 182.903L172.335 192.304L184.732 186.706Z"
                    fill="#D3AE59"
                  />
                  <path
                    d="M173.469 158.582V145.03L159.926 146.388V157.236L173.469 158.582Z"
                    fill="#D3AE59"
                  />
                  <path
                    d="M177.782 128.595L184.564 116.861L172.155 111.274L166.731 120.664L177.782 128.595Z"
                    fill="#D3AE59"
                  />
                  <path
                    d="M196.524 104.79L208.27 98.0144L200.331 86.9756L190.92 92.394L196.524 104.79Z"
                    fill="#D3AE59"
                  />
                </g>
                <g class="rotate-circle circle-1">
                  <path
                    d="M40.0931 58.1783C48.9647 58.9973 56.8143 52.4907 57.6453 43.6282C58.4651 34.7546 51.9518 26.9242 43.0802 26.0941C34.2199 25.2751 26.3702 31.7817 25.5505 40.6442C24.7082 49.4954 31.2215 57.3482 40.0931 58.1783ZM27.4932 40.8237C28.2119 33.0382 35.1071 27.3168 42.9005 28.046C50.6828 28.764 56.41 35.652 55.6801 43.4375C54.9614 51.2118 48.0663 56.9331 40.2728 56.2039C32.4905 55.4972 26.7633 48.6091 27.4932 40.8237ZM40.0931 58.1783C48.9647 58.9973 56.8143 52.4907 57.6453 43.6282C58.4651 34.7546 51.9518 26.9242 43.0802 26.0941C34.2199 25.2751 26.3702 31.7817 25.5505 40.6442C24.7082 49.4954 31.2215 57.3482 40.0931 58.1783ZM27.4932 40.8237C28.2119 33.0382 35.1071 27.3168 42.9005 28.046C50.6828 28.764 56.41 35.652 55.6801 43.4375C54.9614 51.2118 48.0663 56.9331 40.2728 56.2039C32.4905 55.4972 26.7633 48.6091 27.4932 40.8237ZM40.0931 58.1783C48.9647 58.9973 56.8143 52.4907 57.6453 43.6282C58.4651 34.7546 51.9518 26.9242 43.0802 26.0941C34.2199 25.2751 26.3702 31.7817 25.5505 40.6442C24.7082 49.4954 31.2215 57.3482 40.0931 58.1783ZM27.4932 40.8237C28.2119 33.0382 35.1071 27.3168 42.9005 28.046C50.6828 28.764 56.41 35.652 55.6801 43.4375C54.9614 51.2118 48.0663 56.9331 40.2728 56.2039C32.4905 55.4972 26.7633 48.6091 27.4932 40.8237ZM38.4311 75.9369C57.1287 77.6645 73.6815 63.9333 75.4221 45.2773C77.1515 26.6101 63.4174 10.0631 44.731 8.33552C26.0558 6.59669 9.49183 20.3279 7.7512 38.9951C6.01058 57.6511 19.7559 74.2093 38.4311 75.9369ZM23.035 40.4198C23.9895 30.1999 33.0745 22.65 43.3048 23.6036C53.5352 24.5572 61.0816 33.6327 60.1271 43.8526C59.1726 54.0724 50.0764 61.6111 39.8573 60.6576C29.6381 59.7152 22.0917 50.6284 23.035 40.4198ZM25.5392 40.6442C24.7195 49.4954 31.2328 57.3482 40.0931 58.1783C48.9647 58.9973 56.8143 52.4907 57.6453 43.6282C58.4651 34.7546 51.9518 26.9242 43.0802 26.0941C34.2087 25.2751 26.359 31.7817 25.5392 40.6442ZM27.4932 40.8237C28.2119 33.0382 35.1071 27.3168 42.9005 28.046C50.6828 28.764 56.41 35.652 55.6801 43.4375C54.9614 51.2118 48.0663 56.9331 40.2728 56.2039C32.4905 55.4972 26.7633 48.6091 27.4932 40.8237ZM40.0931 58.1783C48.9647 58.9973 56.8143 52.4907 57.6453 43.6282C58.4651 34.7546 51.9518 26.9242 43.0802 26.0941C34.2199 25.2751 26.3702 31.7817 25.5505 40.6442C24.7082 49.4954 31.2215 57.3482 40.0931 58.1783ZM27.4932 40.8237C28.2119 33.0382 35.1071 27.3168 42.9005 28.046C50.6828 28.764 56.41 35.652 55.6801 43.4375C54.9614 51.2118 48.0663 56.9331 40.2728 56.2039C32.4905 55.4972 26.7633 48.6091 27.4932 40.8237ZM40.0931 58.1783C48.9647 58.9973 56.8143 52.4907 57.6453 43.6282C58.4651 34.7546 51.9518 26.9242 43.0802 26.0941C34.2199 25.2751 26.3702 31.7817 25.5505 40.6442C24.7082 49.4954 31.2215 57.3482 40.0931 58.1783ZM27.4932 40.8237C28.2119 33.0382 35.1071 27.3168 42.9005 28.046C50.6828 28.764 56.41 35.652 55.6801 43.4375C54.9614 51.2118 48.0663 56.9331 40.2728 56.2039C32.4905 55.4972 26.7633 48.6091 27.4932 40.8237Z"
                    fill="#432B00"
                  />
                  <path
                    d="M38.0928 9.13168L51.0969 10.3433L51.2429 1.07695L39.665 0L38.0928 9.13168Z"
                    fill="#432B00"
                  />
                  <path
                    d="M62.4512 15.8072L70.7949 25.8588L77.4542 19.397L70.0313 10.4673L62.4512 15.8072Z"
                    fill="#432B00"
                  />
                  <path
                    d="M74.9492 37.7383L73.7363 50.729L83.0122 50.8749L84.0902 39.3088L74.9492 37.7383Z"
                    fill="#432B00"
                  />
                  <path
                    d="M68.2567 62.0708L58.2061 70.406L64.6632 77.0584L73.6134 69.6431L68.2567 62.0708Z"
                    fill="#432B00"
                  />
                  <path
                    d="M46.3142 74.5568L33.2988 73.3452L33.1641 82.6115L44.742 83.6885L46.3142 74.5568Z"
                    fill="#432B00"
                  />
                  <path
                    d="M21.9562 67.8709L13.6124 57.8306L6.95312 64.2811L14.376 73.222L21.9562 67.8709Z"
                    fill="#432B00"
                  />
                  <path
                    d="M9.45748 45.9506L10.6703 32.9486L1.39447 32.814L0.316406 44.3688L9.45748 45.9506Z"
                    fill="#432B00"
                  />
                  <path
                    d="M16.1393 21.6175L26.2013 13.2823L19.7329 6.62988L10.7939 14.0452L16.1393 21.6175Z"
                    fill="#432B00"
                  />
                </g>
                <g class="rotate-circle circle-2">
                  <path
                    d="M82.2499 98.8225C81.6547 121.326 99.4427 140.061 121.97 140.655C144.508 141.25 163.262 123.48 163.857 100.976C164.452 78.4613 146.664 59.7268 124.126 59.1322C101.599 58.5264 82.845 76.3074 82.2499 98.8225ZM104.002 99.3946C104.283 88.8719 113.031 80.5816 123.553 80.8508C134.087 81.1313 142.386 89.8703 142.116 100.393C141.835 110.905 133.087 119.195 122.554 118.926C112.031 118.645 103.721 109.906 104.002 99.3946Z"
                    fill="#D3AE59"
                  />
                  <path
                    d="M116.242 60.613L131.93 61.028L131.358 49.9107L117.41 49.5405L116.242 60.613Z"
                    fill="#D3AE59"
                  />
                  <path
                    d="M145.968 66.6818L156.771 78.0572L164.239 69.7893L154.626 59.6704L145.968 66.6818Z"
                    fill="#D3AE59"
                  />
                  <path
                    d="M162.7 91.9678L162.284 107.651L173.413 107.068L173.784 93.1345L162.7 91.9678Z"
                    fill="#D3AE59"
                  />
                  <path
                    d="M156.625 121.663L145.227 132.455L153.503 139.915L163.632 130.312L156.625 121.663Z"
                    fill="#D3AE59"
                  />
                  <path
                    d="M131.301 138.378L115.613 137.963L116.186 149.08L130.145 149.45L131.301 138.378Z"
                    fill="#D3AE59"
                  />
                  <path
                    d="M101.576 132.308L90.773 120.933L83.3164 129.201L92.9179 139.32L101.576 132.308Z"
                    fill="#D3AE59"
                  />
                  <path
                    d="M84.8553 107.011L85.2708 91.3394L74.1421 91.9115L73.7715 105.856L84.8553 107.011Z"
                    fill="#D3AE59"
                  />
                  <path
                    d="M90.9298 77.3171L102.317 66.5251L94.0404 59.0762L83.9111 68.6678L90.9298 77.3171Z"
                    fill="#D3AE59"
                  />
                  <path
                    d="M133.895 89.9034L120.52 85.9434L110.402 95.5462L113.659 109.098L127.034 113.058L137.163 103.466L133.895 89.9034ZM123.665 103.904C121.217 103.837 119.296 101.817 119.364 99.3716C119.431 96.9373 121.452 95.0077 123.901 95.075C126.337 95.1423 128.269 97.1729 128.202 99.6072C128.134 102.053 126.102 103.971 123.665 103.904Z"
                    fill="#D3AE59"
                  />
                </g>

                <defs>
                  <clipPath id="clip0_1042_553">
                    <rect
                      width="356.367"
                      height="223.266"
                      fill="white"
                      transform="translate(0.316406)"
                    />
                  </clipPath>
                </defs>
              </svg>
            </div>
          </div>
          <p>We're currently performing scheduled maintenance to bring you an even better celebrity fan experience. During this time, raffle entries and account features will be temporarily unavailable. We appreciate your patience and can't wait to show you the exciting updates we're working on!</p>

          <div class="support-text mx mx-auto">
            Need immediate assistance? Email us at <a href="Mailto:contact@producteCommerce.show">contact@producteCommerce.show</a>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
