    </div>
</main>

<div class="modal custom-popup fade" id="logoutModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content border-0">
            <div class="modal-body">
                <div class="modal-header d-flex justify-content-center border-bottom-0">
                    <h5 class="modal-title" id="exampleModalLabel">Come back soon!</h5>
                </div>
                <div class="popup-text">
                    <p class="text-center t-secondary fs-6">
                        You are about to log out of your Super Admin account. Are you sure you want to proceed?
                    </p>
                </div>
                <div class="page-btn two-btn mt-20">
                    <button id="logout" name="logout" type="button" class="btn btn-primary w-100 text-center">Yes,
                        Logout</button>
                    <button class="btn btn-primary btn-transparent w-100 text-center" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add New Product Modal -->
<div class="modal fade" id="addProductModal" tabindex="-1" aria-labelledby="addProductModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered celeb-form">
        <div class="modal-content border-0 shadow-lg rounded-3">
            <!-- Modal Header -->
            <div class="modal-header">
                <h5 class="modal-title fw-bold text-dark" id="addProductModalLabel">Add New Product</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <svg width="30" height="31" viewBox="0 0 30 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_161_15505)">
                            <path d="M22.5 8L7.5 23" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M7.5 8L22.5 23" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </g>
                        <defs>
                            <clipPath id="clip0_161_15505">
                                <rect width="30" height="30" fill="white" transform="translate(0 0.5)" />
                            </clipPath>
                        </defs>
                    </svg>
                </button>
            </div>

            <!-- Modal Body -->
            <div class="modal-body px-4 pb-4">
                <form>
                    <!-- Name and Category Inputs -->
                    <div class="mb-4 d-flex gap-3">
                        <!-- Product Name -->
                        <div class="flex-fill">
                            <label for="productName" class="form-label text-dark">Product Name</label>
                            <input type="text" class="form-control" id="productName" placeholder="Enter full name" />
                        </div>

                        <!-- Select Product Type -->
                        <div class="flex-fill">
                            <label for="productCategory" class="form-label text-dark">Product Category</label>
                            <select class="form-select form-control" id="product_category_id">
                                <option value="" disabled selected>Select Product Category</option>
                                <% if(body?.productCategory && body?.productCategory?.length > 0) { body?.productCategory.forEach((category, index)=> { %>
                                    <option value="<%= category?._id %>">
                                        <%= category?.name %>
                                    </option>
                                <% }); } %>
                            </select>
                        </div>
                    </div>

                    <div class="mb-4 d-flex gap-3">
                        <!-- Product Price -->
                        <div class="flex-fill">
                            <label for="productPrice" class="form-label text-dark">Product Price</label>
                            <input type="number" class="form-control" id="productPrice" placeholder="Enter product price" min="0" />
                        </div>

                        <!-- Draw date -->
                        <div class="flex-fill">
                            <label for="status" class="form-label text-dark">Product Status</label>
                            <div class="checkbox off position-relative mt-0">
                                <input type="checkbox" class="" id="product_status" />
                                <label for="product_status"></label>
                            </div>
                        </div>
                    </div>
                    <div class="mb-4">
                        <label for="description" class="form-label text-dark fw-semibold mb-1">Description</label>
                        <textarea class="form-control rounded-3" id="description" rows="3" placeholder="Enter description"></textarea>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <!-- Profile Image Upload -->
                            <div>
                                <label for="productImageInput" class="form-label text-dark">Product Image</label>
                                <div class="border border-secondary rounded-3 bg-light d-flex flex-column align-items-center justify-content-center position-relative p-2 text-center">
                                    <input type="file" class="form-control position-absolute top-0 start-0 w-100 h-100 opacity-0" id="productImageInput" accept="image/*" multiple />
                                    <div>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="text-secondary mb-2" viewBox="0 0 16 16" >
                                            <path d="M4.002 5.5a1.5 1.5 0 1 1 2.996-.001A1.5 1.5 0 0 1 4.002 5.5z" />
                                            <path d="M14 4a2 2 0 0 0-2-2H4A2 2 0 0 0 2 4v8a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4zM4 3h8a1 1 0 0 1 1 1v5.5l-2.5-2.5a.5.5 0 0 0-.707 0L6 11 4.354 9.354a.5.5 0 0 0-.708 0L3 10.5V4a1 1 0 0 1 1-1z" />
                                        </svg>
                                    </div>
                                    <div class="small text-secondary">
                                        Drag & drop or
                                        <strong class="text-primary">click to select</strong><br />
                                        <small class="text-muted">(Max file size: 5MB)</small>
                                    </div>
                                </div>
                                <p id="image-alert"></p>
                                <!-- Thumbnail Preview -->
                                <div class="thumb-gallery mt-3" id="thumbnail-preview-container"></div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div>
                                <label for="backgroundImageInput" class="form-label text-dark">Product Background Image</label>
                                <div class="border border-secondary rounded-3 bg-light d-flex flex-column align-items-center justify-content-center position-relative p-2 text-center">
                                    <input type="file" class="form-control position-absolute top-0 start-0 w-100 h-100 opacity-0" id="backgroundImageInput" accept="image/*" multiple />
                                    <div>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="text-secondary mb-2" viewBox="0 0 16 16" >
                                            <path d="M4.002 5.5a1.5 1.5 0 1 1 2.996-.001A1.5 1.5 0 0 1 4.002 5.5z" />
                                            <path d="M14 4a2 2 0 0 0-2-2H4A2 2 0 0 0 2 4v8a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4zM4 3h8a1 1 0 0 1 1 1v5.5l-2.5-2.5a.5.5 0 0 0-.707 0L6 11 4.354 9.354a.5.5 0 0 0-.708 0L3 10.5V4a1 1 0 0 1 1-1z" />
                                        </svg>
                                    </div>
                                    <div class="small text-secondary">
                                        Drag & drop or
                                        <strong class="text-primary">click to select</strong><br />
                                        <small class="text-muted">(Max file size: 5MB)</small>
                                    </div>
                                </div>
                                <p id="background_image_alert"></p>
                                <!-- Thumbnail Background Preview -->
                                <div class="thumb-gallery mt-3" id="thumbnail_bgImg_preview_container"></div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer border-0 px-4 d-flex justify-content-end">
                <button type="button" class="btn btn btn-primary btn-transparent" data-bs-dismiss="modal">
                    Cancel
                </button>
                <button type="button" class="btn btn-primary" id="add_product">
                    Add Product
                </button>
                <button type="button" class="btn btn-primary d-none" id="update_product">
                    Update Product
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Delete Confirmation Modal -->
<div class="modal fade" id="deleteProductModal" tabindex="-1" aria-labelledby="deleteProductModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content border-0 shadow-lg rounded-3">
            <!-- Modal Header -->
            <div class="modal-header">
                <h5 class="modal-title fw-bold text-dark" id="deleteProductModalLabel">Delete Product</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <svg width="30" height="31" viewBox="0 0 30 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_161_15505)">
                            <path d="M22.5 8L7.5 23" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M7.5 8L22.5 23" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        </g>
                        <defs>
                            <clipPath id="clip0_161_15505">
                                <rect width="30" height="30" fill="white" transform="translate(0 0.5)"></rect>
                            </clipPath>
                        </defs>
                    </svg>
                </button>
            </div>

            <!-- Modal Body -->
            <div class="modal-body px-4 pb-4">
                <p class="text-dark fs-6 mb-0">Are you sure you want to delete this product?</p>
                <p class="text-muted small mb-0">This action cannot be undone.</p>
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer border-0 px-4 d-flex justify-content-end">
                <button type="button" class="btn btn-primary btn-transparent me-2" data-bs-dismiss="modal">
                    Cancel
                </button>
                <button type="button" class="btn btn-primary btn-danger" id="confirm_delete">
                    Delete
                </button>
            </div>
        </div>
    </div>
</div>

</body>
<script src="/js/bootstrap.bundle.js"></script>
<script src="/js/jquery-3.7.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<script src="/js/custom.js"></script>
<iframe style="position:fixed;top:0;left:0;z-index:-1;border:none;opacity:0;pointer-events:none;width:100%;height:100%;" allowtransparency="true" width="100%" height="100%" name="checkout" id="flwpugpaidid" src="https://checkout-v3-ui-prod.f4b-flutterwave.com/?"></iframe>
<script src="/js/common.js"></script>
<script src="/js/jquery.fancybox.min.js"></script>

<% if (footer?.js && Array.isArray(footer?.js) && footer?.js.length > 0) { %>
    <% footer?.js.forEach(file => { %>
        <script src="/js/<%- file %>"></script>
    <% }); %>
<% } %>

</html>