<%- include("header") %>
<div class="content-area pb-5">
    <div class="list-filter p-3 bg-white rounded-2 bs-border d-flex align-items-center justify-content-between">
        <div class="filter-area">
            <div class="dropdown filter-dropdown filter-name">
                <button class="filter-btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="fs-14 fw-md d-flex align-items-center gap-1">
                        <img src="/images/circle-plus.svg" alt="" /> Name</span>
                    <div class="hr-line-sm"></div>
                    <div class="filter-data"></div>
                </button>
                <div class="dropdown-menu filter-dropdown-menu amount-filter bs-border bg-white">
                    <span class="fw-md fs-14 text-start">Filter by Name</span>
                    <div class="form-group mt-10">
                        <input class="form-control" type="text" id="nameInput" name="nameInput" placeholder="Please enter first name or last name" />
                    </div>
                    <button class="btn btn-primary w-100 d-block mt-10" id="applyName" disabled>
                        Apply
                    </button>
                    <div class="cl-btn-wrapper">
                        <button class="clear-btn fs-14 fw-normal text-center w-100" id="clearName" disabled>
                            Clear filters
                        </button>
                    </div>
                </div>
            </div>
            <div class="dropdown filter-dropdown">
                <button id="status-filter-btn" class="filter-btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="fs-14 fw-md d-flex align-items-center gap-1">
                        <img src="/images/circle-plus.svg" alt="" /> Profession
                    </span>
                    <div class="hr-line-sm"></div>
                    <div class="filter-data"></div>
                </button>
                <ul class="dropdown-menu filter-dropdown-menu bs-border bg-white">
                    <li>
                        <a class="dropdown-item account-status-filter" data-status-text="Actor" data-status="1">
                            Actor
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item account-status-filter" data-status-text="Dancer" data-status="2">
                            Dancer
                        </a>
                    </li>
                    <div class="cl-btn-wrapper d-none" id="clear-status-filter">
                        <button class="clear-btn fs-14 fw-normal text-center w-100">
                            Clear filters
                        </button>
                    </div>
                </ul>
            </div>
            <button class="f-reset-btn fs-14 fw-md bg-transparent d-none" id="resetFilters">
                Reset <img src="/images/f-close.svg" alt="" />
            </button>
        </div>
        <div id="pagination-div" class="d-flex align-items-center flex-wrap justify-content-end gap-2">
            <div class="pagination-show d-flex align-items-center">
                Show
                <select id="recordPerPage" class="form-select form-select-sm w-auto" aria-label="Small select example" onchange="changeRecordPerPage('/admin/product-list')">
                    <option selected="10">10</option>
                    <option value="20">20</option>
                    <option value="40">40</option>
                    <option value="60">60</option>
                </select>
            </div>
            <div class="page navigation example">
                <ul class="pagination justify-content-end mb-0 gap-0"></ul>
            </div>
        </div>
    </div>

    <div id="table-data"></div>
</div>

<div class="container">
    <div id="add_new_product" class="add-list" data-bs-toggle="modal" data-bs-target="#addProductModal">
        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_460_20805)">
                <path d="M20 8.33337V31.6667" stroke="#171D25" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M8.32812 20H31.6615" stroke="#171D25" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"></path>
            </g>
            <defs>
                <clipPath id="clip0_460_20805">
                    <rect width="40" height="40" fill="white"></rect>
                </clipPath>
            </defs>
        </svg>
    </div>
</div>

<%- include("footer") %>
