<%- include("header") %>

    <div class="content-area pb-5">
        <div class="row">
            <div class="col-md-6 col-12 mt-30">
                <h5 class="fs-20 mb-20 fw-md stas-heading text-uppercase">General</h5>
                <div class="custom-card setting-card">
                    <div class="genral-setting">
                        <div class="form-group mb-20">
                            <label>Login URL Token</label>
                            <input class="form-control" type="text" name="login_secret_token" id="login_secret_token"
                                value="<%- body?.secret %>">
                        </div>
                        <div class="g-items">
                            <div class="d-flex w-100 justify-content-between form-group gap-3">
                                 
                                <label>Maintenance Mode <br> <span class="fs-14 text-secondary">
                                    Temporarily disable the platform for maintenance
                                </span> </label>
                                  <div class="checkbox off position-relative mt-0">
                                    <input type="checkbox" class="" id="maintenance_mode" />
                                    <label for="maintenance_mode"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="page-btn mt-20">
                    <button class="btn btn-primary" type="button" id="updateSettings">Save Changes</button>
                </div>
            </div>
            <div class="col-md-6 col-12 mt-30">
                <h5 class="fs-20 mb-20 fw-md stas-heading text-uppercase">Change Password</h5>
                <div class="custom-card setting-card">
                    <div class="card-title">
                        <div class="custom-form">
                            <div class="form-group both-icon position-relative">
                                <svg class="ico-left" width="18" height="18" viewBox="0 0 18 18" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_417_58442)">
                                        <path
                                            d="M3.75 9.75C3.75 9.35218 3.90804 8.97064 4.18934 8.68934C4.47064 8.40804 4.85218 8.25 5.25 8.25H12.75C13.1478 8.25 13.5294 8.40804 13.8107 8.68934C14.092 8.97064 14.25 9.35218 14.25 9.75V14.25C14.25 14.6478 14.092 15.0294 13.8107 15.3107C13.5294 15.592 13.1478 15.75 12.75 15.75H5.25C4.85218 15.75 4.47064 15.592 4.18934 15.3107C3.90804 15.0294 3.75 14.6478 3.75 14.25V9.75Z"
                                            stroke="#7E8B95" stroke-width="1.5" stroke-linecap="round"
                                            stroke-linejoin="round"></path>
                                        <path
                                            d="M8.25 12C8.25 12.1989 8.32902 12.3897 8.46967 12.5303C8.61032 12.671 8.80109 12.75 9 12.75C9.19891 12.75 9.38968 12.671 9.53033 12.5303C9.67098 12.3897 9.75 12.1989 9.75 12C9.75 11.8011 9.67098 11.6103 9.53033 11.4697C9.38968 11.329 9.19891 11.25 9 11.25C8.80109 11.25 8.61032 11.329 8.46967 11.4697C8.32902 11.6103 8.25 11.8011 8.25 12Z"
                                            stroke="#7E8B95" stroke-width="1.5" stroke-linecap="round"
                                            stroke-linejoin="round"></path>
                                        <path
                                            d="M6 8.25V5.25C6 4.45435 6.31607 3.69129 6.87868 3.12868C7.44129 2.56607 8.20435 2.25 9 2.25C9.79565 2.25 10.5587 2.56607 11.1213 3.12868C11.6839 3.69129 12 4.45435 12 5.25V8.25"
                                            stroke="#7E8B95" stroke-width="1.5" stroke-linecap="round"
                                            stroke-linejoin="round"></path>
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_417_58442">
                                            <rect width="18" height="18" fill="white"></rect>
                                        </clipPath>
                                    </defs>
                                </svg>
                                <input class="form-control" type="password" name="new_password" id="new_password"
                                    placeholder="New Password">
                                <span class="ico-right cursor-pointer toggle-password" toggle="#new_password">
                                    <i class="far fa-eye-slash fa-fw" id="ey2"></i>
                                </span>
                            </div>
                            <div class="form-group mt-2 both-icon position-relative">
                                <svg class="ico-left" width="18" height="18" viewBox="0 0 18 18" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_417_58442)">
                                        <path
                                            d="M3.75 9.75C3.75 9.35218 3.90804 8.97064 4.18934 8.68934C4.47064 8.40804 4.85218 8.25 5.25 8.25H12.75C13.1478 8.25 13.5294 8.40804 13.8107 8.68934C14.092 8.97064 14.25 9.35218 14.25 9.75V14.25C14.25 14.6478 14.092 15.0294 13.8107 15.3107C13.5294 15.592 13.1478 15.75 12.75 15.75H5.25C4.85218 15.75 4.47064 15.592 4.18934 15.3107C3.90804 15.0294 3.75 14.6478 3.75 14.25V9.75Z"
                                            stroke="#7E8B95" stroke-width="1.5" stroke-linecap="round"
                                            stroke-linejoin="round"></path>
                                        <path
                                            d="M8.25 12C8.25 12.1989 8.32902 12.3897 8.46967 12.5303C8.61032 12.671 8.80109 12.75 9 12.75C9.19891 12.75 9.38968 12.671 9.53033 12.5303C9.67098 12.3897 9.75 12.1989 9.75 12C9.75 11.8011 9.67098 11.6103 9.53033 11.4697C9.38968 11.329 9.19891 11.25 9 11.25C8.80109 11.25 8.61032 11.329 8.46967 11.4697C8.32902 11.6103 8.25 11.8011 8.25 12Z"
                                            stroke="#7E8B95" stroke-width="1.5" stroke-linecap="round"
                                            stroke-linejoin="round"></path>
                                        <path
                                            d="M6 8.25V5.25C6 4.45435 6.31607 3.69129 6.87868 3.12868C7.44129 2.56607 8.20435 2.25 9 2.25C9.79565 2.25 10.5587 2.56607 11.1213 3.12868C11.6839 3.69129 12 4.45435 12 5.25V8.25"
                                            stroke="#7E8B95" stroke-width="1.5" stroke-linecap="round"
                                            stroke-linejoin="round"></path>
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_417_58442">
                                            <rect width="18" height="18" fill="white"></rect>
                                        </clipPath>
                                    </defs>
                                </svg>
                                <input class="form-control" type="password" name="confirm_password"
                                    id="confirm_password" placeholder="Confirm Password">
                                <span class="ico-right cursor-pointer toggle-password" toggle="#confirm_password">
                                    <i class="far fa-eye-slash fa-fw" id="ey3"></i>
                                </span>
                            </div>
                        </div>
                        <div class="c-notes mt-3">
                           <p class="fs-14 text-secondary d-flex gap-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-info-icon lucide-info"><circle cx="12" cy="12" r="10"/><path d="M12 16v-4"/><path d="M12 8h.01"/></svg>
                            <span>Your new password must be different from your current password to ensure account security, and must be at least 6 characters long.</span>
                           </p>
                        </div>
                    </div>
                </div>
                <div class="page-btn mt-20">
                    <button class="btn btn-primary" type="button" id="updatePassword" disabled>Change Password</button>
                </div>
            </div> 
        </div>
    </div>



    <%- include("footer") %>