<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- <link rel="icon" href="/images/favicon.ico"> -->
        <title>Not Found</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" />
        <link rel="stylesheet" href="/css/style.css" type="text/css" />
        <link rel="stylesheet" href="/css/responsive.css" type="text/css" />
        <style>
            .nf-section {
                padding: 50px 0;
            }
            .nf-img {
                max-width: 1000px;
                width: 100%;
            }
            .nf-section h1 {
                font-family: "ClashDisplay-Variable";
                font-size: 56px;
                font-weight: 600;
                color: #5cc89e;
                margin-top: 30px;
            }
            .nf-section p {
                font-size: 24px;
                color: #6d6d6d;
            }
            .home-btn {
                padding: 20px 40px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                background-color: #432B00;
                border-radius: 32px;
                font-size: 20px;
                color: #fff;
                margin-top: 30px;
                width: fit-content;
            }
        </style>
    </head>

    <body>
        <section class="nf-section">
            <div class="container">
                <div class="nf-img mx-auto">
                    <img src="/images/not-found.svg" alt="" class="img-fluid" />
                </div>
                <h1 class="text-center">Page Not Found</h1>
                <!-- <p class="text-center">
                    We’re working on it and We’ll get it fixed as soon as we can
                </p> -->
                <!-- <a href="/" class="home-btn mx-auto">Bring Me To Home Page</a> -->
            </div>
        </section>
        <script src="/js/bootstrap.bundle.min.js"></script>
        <script src="/js/jquery.min.js"></script>
    </body>
</html>
